#header-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

#thinklock-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#header-right-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#think-lock-title {
  font-size: 1.3rem;
  margin: 0;
}

#search-bar-container {
  display: flex;
  flex-direction: row;
}

#search-bar {
  border: 1px solid #ddd;
  border-radius: 1.5rem;
  width: 20rem;
  height: 1.5rem;
}

#search-bar:hover {
  cursor: text;
}

#search-icon-background {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#search-icon-background:hover {
  cursor: pointer;
}

#search-icon {
  vertical-align: -webkit-baseline-middle;
  display: inline-flex;
  height: 1.25rem;
}

#add-think-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

#add-think-button {
  border-radius: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

#add-think-button:hover {
  cursor: pointer;
}

#notification-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

#notification-button {
  border-radius: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

#notification-button:hover {
  cursor: pointer;
}

#user-profile-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}

#user-profile-button-container:hover {
  cursor: pointer;
}

#user-profile {
  border-radius: 50%;
}
