#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  height: 3rem;

  #thinklock-header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    #think-lock-title {
      font-size: 1.3rem;
      margin: 0;
    }

    #lock-icon {
      height: 2.5rem;
    }
  }

  #header-right-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    #search-bar {
      border-radius: 1.5rem;
      width: 20rem;
      height: 1.5rem;

      &:hover {
        cursor: text;
      }

      &::placeholder {
        color: gray;
      }
    }

    #search-icon-background {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }

      #search-icon {
        vertical-align: -webkit-baseline-middle;
        display: inline-flex;
        height: 1.25rem;
        color: gray;
      }
    }

    #add-think-button {
      border-radius: 1.5rem;
      width: 2.5rem;
      height: 2.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    #notification-button {
      border-radius: 1.5rem;
      width: 2.5rem;
      height: 2.5rem;

      &:hover {
        cursor: pointer;
      }

      #bell-icon {
        height: 1.5rem;
      }
    }

    #user-profile-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      width: auto;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }

      #user-profile {
        color: white;
        border-radius: 50%;
      }
    }
  }
}
