.action-item-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
}

.mantine-1xir3ka {
  align-items: center;
}

.mantine-hqx0d1 {
  align-items: center;
}

.textCompleted {
  text-decoration: line-through;
}

.textNotCompleted {
  text-decoration: none;
}

.action-item-card-draggable-container {
  width: 95%;
  align-self: center;
}
