.mantine-1nb50hw {
  top: 15%;
}

.mantine-nc8l82 {
  border-radius: 2rem;
  width: 1.5rem;
}

.mantine-1emiw5l {
  border-radius: 2rem;
  width: 1.5rem;
}

.mantine-1yzxak0 {
  border-radius: 2rem;
  width: 1.5rem;
  height: 2rem;
}

.color-swatch-selected {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.color-swatch-hidden {
  display: none;
}

.color-picker {
  display: flex;
  justify-content: center;
}

.color-swatch-selected-chip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#color-label {
  text-transform: "capitalize";
}

.icon-label {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #212529;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.55;
}
