.day-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.week-view-strip-calendar {
  margin: 0.5rem;
}

.nav-button {
  padding: 0.1rem;
}
