.heatmap-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.heatmap {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.heatmap-and-month-container {
  display: flex;
}

.heatmap-cell,
.heatmap-legend-cell {
  height: 0.66rem;
  width: 1.5rem;
  margin: 0.05rem;
  border-radius: 0.1rem;
  padding: 0;
  border: none;
}

.heatmap-month-label {
  height: min-content;
  font-size: 0.75rem;
}

.heatmap-day-label {
  height: min-content;
  font-size: 0.65rem;
}

.months {
  display: flex;
  gap: 2.1rem;
  flex-direction: column;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 0.5rem;
  justify-items: center;
  padding-left: 1.75rem;
}
