.plan-page-container {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;
}

.think-folders-container {
  gap: 0.5rem;
}

.go-back-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.think-session-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.action-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.action-item-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

.mantine-1ndvke8 {
  height: 95%;
}

.mantine-1ndvke8 {
  padding: 0;
}
