.study-overview-page-container {
  display: flex;
}

.session-day-picker-container {
  padding: 0.5rem;
  width: fit-content;
  margin: 1rem;
  border-radius: 0.5rem;
  min-height: 24rem;
}

.session-detail-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem;
  flex-grow: 1;
}

.think-session-grid {
  max-height: 18.5rem;
  overflow-y: scroll;

  /* Add left padding to scrollbar */
  &::-webkit-scrollbar-thumb {
    padding-left: 0.5rem;
  }
}

.no-session-container {
  display: flex;
  height: 100%;
  align-items: center;
  width: 12rem;
  text-align: center;
  align-self: center;
}

.action-items-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-items-scroll-area {
  flex-grow: 1;
}

/* Tab selector styles */
.mantine-6z64bn[data-active],
.mantine-6z64bn[data-active]:hover {
  border-color: var(--tab-selector-color);
}
