.study-overview-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.session-day-picker-container {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  min-height: 26rem;
  flex-grow: 1;
}

.session-detail-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 30%;
  height: stretch;
}

.think-session-grid {
  max-height: 18.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    padding-left: 0.5rem;
  }
}

.no-session-container {
  display: flex;
  height: 100%;
  align-items: center;
  width: 14rem;
  text-align: center;
  align-self: center;
}

.action-items-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-items-scroll-area {
  border-radius: 0.5rem;
}

/* Tab selector styles */
.mantine-6z64bn[data-active],
.mantine-6z64bn[data-active]:hover {
  border-color: var(--tab-selector-color);
}

.session-detail-info-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.location-time-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.think-session-location {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin: -0.1rem 0 0 -0.1rem;
}

.no-location {
  display: none;
}

.add-action-item-button {
  background: transparent;
  border: 1px dashed var(--tab-selector-color);
  margin: 0 1rem;
}
