.mantine-nc8l82 {
  border-radius: 2rem;
  width: 1.5rem;
}

.mantine-1emiw5l {
  border-radius: 2rem;
  width: 1.5rem;
}

.mantine-1yzxak0 {
  border-radius: 2rem;
  width: 1.5rem;
  height: 2rem;
}

.color-swatch-selected {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.color-swatch-hidden {
  display: none;
}

.color-picker {
  display: flex;
  justify-content: center;
}

.color-swatch-selected-chip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#color-label {
  text-transform: "capitalize";
}
