.objective-slide {
  align-self: center;
  margin-top: 2rem;
}

.objective-card {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
}

.objective-icon-container {
  position: absolute;
  top: -1.25rem;
  left: calc(50% - 2rem);
  transform: rotate(45deg);
}

.objective-icon {
  transform: rotate(-45deg);
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.progress {
  flex: 1;
}

.objective-title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1;
}
