.flashcards-widget-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flashcards-widget-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 6rem; /* Adjust this value based on your desired row height */
  gap: 1rem;
  max-height: 80vh; /* Adjust this value based on your preference */
  overflow-y: auto; /* Enables vertical scrolling when content exceeds the container's height */
  padding: 0.5rem;
  height: inherit;
}

.mantine-Accordion-label {
  padding: 0;
}

.flashcard-widget-flashcard-container {
  display: flex;
  flex-direction: column;
}

.flashcards-widget-accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flashcard-create-container {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.flashcard-create-form {
  display: flex;
  flex-direction: column;
}
