#think-folder-container {
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
}

#think-folder-button {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  height: stretch;
  width: stretch;
  border-radius: 1rem;
}

#folder-icon {
  width: 18rem;
  height: 18rem;
}
