.think-folder-item-container {
  display: flex;
  gap: 1rem;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.think-folder-item-container:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
}

.think-folder-icon-container {
  align-self: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.think-folder-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.think-folder-subtitle {
  color: gray;
}
