#think-folder-container {
  display: flex;
  align-items: center;
  background-color: #fff;
}

#think-folder-button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

#folder-icon {
  width: 30px;
  height: 30px;
}
