.flashcard-container {
  perspective: 1000px;
  transition: all 0.6s ease;
}

.flashcard-container:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.flashcard {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1000ms;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.flashcard-front,
.flashcard-back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;

  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcard-back {
  transform: rotateY(180deg);
}

.flashcard-textarea-front,
.flashcard-textarea-back {
  border: none;

  &.static {
    .mantine-Textarea-input,
    .mantine-Textarea-wrapper {
      caret-color: transparent;
    }
    .mantine-Textarea-wrapper:hover,
    .mantine-Textarea-input:hover {
      cursor: pointer;
    }
  }
}

.flashcard-back-action-button,
.flashcard-front-action-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
