.icon-selector {
  width: 100%;
  border-radius: 0.25rem;
  appearance: none;
}

.icon-selector:hover {
  cursor: pointer;
}

.icon-selector:focus {
  outline: none;
  border-color: #228be6;
}

.icon-selector-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  height: auto;
  width: 2rem;
  padding-top: 1.5rem;
}
